<%- include("header") -%>

<h2>This is the about page</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus rem libero eum nam laborum cupiditate quaerat at, tempore architecto! Velit ex dolores laboriosam impedit voluptate sint dicta quos minus itaque.</p>

<%- include("footer") -%>